#menu-actions {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 36px;
    background-color: #E0E0E0;
}
.menu-logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 40px;
}